@import "../../scss/variables";

.project-card {
  height: 350px;
  background-color: white;
  border-radius: 30px;

  display: grid;
  grid-template-rows: 70% 30%;
}

.card__mainContent {
  padding: 1.5rem 1.2rem;
}

.card__subContent {
  border-top: 1px solid $border-color;
  padding: 1.2rem;
}

.card__title {
  font-size: 25px;
  overflow-y: hidden;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.tag {
  font-size: 12px;
  color: $primary-green;
  margin-right: 10px;
}

.role {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}

.role-opened {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

.role-opened[data-isopened="true"] {
  background-color: $primary-green;
}

.role-opened[data-isopened="false"] {
  background-color: $text-inactive-color;
}

.role-meta {
  display: inline-block;
}

.role-meta[data-isopened="false"] {
  text-decoration: line-through;
}
