@import "../../scss/variables";
@import "../../scss/typography";

.project-card {
  height: 300px;
  background-color: white;
  border-radius: 30px;

  display: grid;
  grid-template-rows: 70% 30%;
  cursor: pointer;
}

.card__mainContent {
  padding: 2rem 1.2rem;
}

.card__subContent {
  border-top: 1px solid $border-color;
  padding: 1.2rem;
}

.card__title {
  font-size: 25px;
  line-height: 1.2;
  overflow-y: hidden;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.tag {
  font-size: 12px;
  color: $primary-green;
  margin-right: 10px;
}

.roles {
  @include subText1;
}

.role {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0.5rem 0;
}

.role-opened {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}

.role-opened[data-isopened="true"] {
  background-color: $primary-green;
}

.role-opened[data-isopened="false"] {
  background-color: $text-inactive-color;
}

.role-meta {
  display: inline-block;
}

.role-meta[data-isopened="false"] {
  text-decoration: line-through;
}

.card__subContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
