@import "../../scss/variables";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-wrapper {
  background-color: white;
  border-radius: 50px;

  padding: 3rem;
  z-index: 1000;

  display: flex;
  flex-direction: column;

  max-width: 30vw;
  width: 800px;
  height: auto;
}

.modal-header {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
}

.modal-btn {
  cursor: pointer;
}

.modal-btn__close {
  display: flex;
  justify-content: flex-end;
}

// SOCIAL SHARE
.share-modal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.share-btns {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  margin-top: 1rem;
}

.share-link {
  width: 100%;
  margin-top: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;
}

.link-inputBox {
  width: 100%;
  border: 1px solid $border-color;
  background-color: transparent;
  padding: 0.5rem 1rem;
}

.link-message {
  width: 100%;
  margin-top: 10px;
  text-align: right;
}

// PROFILE MODAL

.modal-creator-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  &:first-child {
    font-size: 15px;
    color: $text-inactive-color;
  }
}

.creator-image__frame {
  width: 130px;
  height: 130px;

  .creater-image {
    width: 130px;
    height: auto;
  }
}

.creator-name[data-section="modal"] {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}

.creator-email {
  color: black;
}

.creator-bio {
  margin: 1rem;
}

.creator-done {
  width: 100%;
  border: 3px solid $primary-green;
  border-radius: 50px;
  padding: 0.5rem;

  color: $primary-green;
  letter-spacing: 3px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

// Delete confirm modal
.delete-confirm-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;

  margin-top: 2rem;
}

.modal-delete-confirm,
.modal-cancel-confirm {
  border-radius: 10px;
  padding: 0.7rem 1.2rem;

  font-weight: normal;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

.modal-delete-confirm {
  color: $primary-green;
  border: 2px solid $primary-green;
}

.modal-cancel-confirm {
  color: white;
  background-color: $primary-green;
}
