@import "../../scss/variables";

.container[data-section="project-editor"] {
  background-color: $bg-color;

  display: flex;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.content-wrapper[data-section="project-editor"] {
  background-color: white;
  border-radius: 30px;
  padding: 2rem 3rem;

  width: 80vw;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.editor-meta,
.editor-date {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.editor-btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;

  .editor-btn {
    border: 2px solid $primary-green;
    border-radius: 10px;
    padding: 0.7rem 1rem;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;

    cursor: pointer;

    &.cancel {
      color: $primary-green;
      font-weight: 600;
    }

    &.save {
      color: white;
      background-color: $primary-green;
      border: none;
    }
  }
}
