.btn-addRole {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.divider {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.add-btn-wrapper {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  padding-right: 25px;

  span {
    margin-left: 5px;
    font-size: 15px;
  }
}
