@import "../../scss/variables";

.projects-wrapper {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
  gap: 30px 30px;
}

.button-wrapper {
  width: 100%;
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;

  button {
    background-color: $primary-green;
    border: none;
    border-radius: 30px;

    padding: 0.8rem 2rem;

    color: white;
    font: inherit;

    cursor: pointer;
  }
}
