@import "../../scss/variables";

#header {
  width: 100%;
}

.content-wrapper[data-section="header"] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-left: 2rem;
  margin-right: 2rem;
}

.header-link {
  text-decoration: none;
  font-size: 16px;
  color: black;
  &:hover {
    color: $primary-green;
  }
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.header-right > div {
  font-size: 13px;
}

.header-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  width: 45px;
  height: 45px;

  position: relative;
  cursor: pointer;

  .header-dropdown {
    position: absolute;
    bottom: -120px;
    right: 0;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 50%;

    &:hover {
      box-shadow: 0 0 5px 1px rgba(52, 204, 153, 0.5);
    }
  }
}

.logout-btn {
  cursor: pointer;
}
