$primary-green: #34cc99;
$primary-red: #d32f2f;
$bg-color: #fbfbfb;
// $bg-color: #fdfdfe;
// $bg-color: #f2f2f2;
$border-color: #d4d4d4;
$text-inactive-color: #717271;

$light-gray: #f2f9f9;
$dark-gray: #c0c0c0;
$black: #191919;
